*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
}
.container{
	width:1170px;
	margin:0 auto;
	padding-left:15px;   
	padding-right:15px;
	
	
}
.flex_container{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
	
}
.flex_item_1{
	width:8.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_2{
	width:16.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_3{
	width:25%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_4{
	width:33.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_5{
	width:41.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_6{
	width:50%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_7{
	width:58.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_8{
	width:66.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_9{
	width:75%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_10{
	width:83.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_11{
	width:91.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_12{
	width:100%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}

/* header section start */
.header_section{
	padding: 20px 0px;
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 100%;
	position:fixed;
}
.header_align{
	align-items:center;
}
/* logo start */
.logo h1 a{
	color:#5fcf80;
	text-decoration:none;
	font-size:30px;
}
/* logo end */
/* nav start  */
.nav_item{
	display:flex;
	justify-content:space-between;
	padding:10px 0px;
	list-style-type:none;
	font-size:15px;
}
/* .nav_li_item{ */
	/* list-style-type:none; */
	/* font-size:15px; */
/* } */
.nav_li_item a{
	text-decoration:none;
	color:black; 
}
.nav_link{
	text-decoration:none;
	color:black;
}
.nav_link:hover{
	color:#5fcf80;
}
.nav_li_item_drop{
	position:relative;
}
.nav_li_item_drop ul{
	list-style-type:none;
	position:absolute;
	left:30px;
	white-space:nowrap;
	background-color:#fff;
	padding:15px;
	border-radius:6px;
	visibility:hidden;
	opacity:0;
	top:calc(100% + 30px);
	transition:0.4s;
}
.nav_li_item_drop ul li{
	line-height:2;
}
.nav_li_item_drop:hover>ul{
	visibility:visible;
	opacity:1;
	top:100%;
}
.nav_li_item_drop ul ul{
	left:100%;
	transition:0.4s;
	position:absolute;
	top:calc(100% - 30px);
}
.nav_li_item a:hover{
	color:#5fcf80;
}
.nav_btn:hover{
	background-color:#5fcf80bf;
}
.btn_sec{
	display:flex;
	justify-content:flex-end;
}
.nav_btn{
	background-color: #5fcf80;
    padding: 10px 20px;
    border-radius: 30px;
	color:white !important;
	
}
.nav_li_item a span:after{
	content:"\f107";
	font-family:fontawesome;
	vertical-align: middle;
    padding-left: 6px;
}

/* nav end */
/* header section end */
/* banner section start */
.banner_section{
	background-image:linear-gradient(#00000096,#00000061),url(./image/banner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
	position: relative;
	display:flex;
	flex-direction:column;
	background-attachment:fixed;
}
.banner_content{
	color:white;
	margin-top:200px;
}
.banner_content h1{
	font-size:42px;
	line-height:50px;
}
.banner_content p{
	font-family: 'Raleway', sans-serif !important;
	font-size:21px;
	line-height:44px;
}
.banner_content a{
	color: white;
    border: 1px solid white;
    padding: 8px 12px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    width: 156px;
	display:inline-block;
	margin-top:20px;
}
.banner_content a:hover{
	background-color:#5fcf80;
	color:white;
	border:none;
}
/* banner section end */

/* discus section start */
.discus_section{
	width:auto;
	height:auto;
	padding:50px 0px;
	font-family: 'Hind Siliguri', sans-serif;
}
.discus_rule{
	width:auto;
	height:400px;
	display: flex;
    flex-direction: column;
    gap: 15px;
}
.discus_rule h3{
	font-size:21px;
}
.discus_rule p{
	font-size:12px;
}
.discus_rule ul{
	list-style-position:inside;
	font-size:13px;
	list-style-type:none;
}
.discus_rule ul li:nth-child(1){
	
	line-height: 40px;
    gap: 10px;
    display: flex;
    /* flex-direction: column; */
    column-gap: 10px;
    align-items: center;
}
.discus_rule ul li:nth-child(2){
	
	line-height: 40px;
    gap: 10px;
    display: flex;
    /* flex-direction: column; */
    column-gap: 10px;
    align-items: center;
}


.discus_rule ul li span:after{
	content:"\f00c";
	font-family:fontawesome;
}
.discus_rule ul li span{
	display: inline-block;
    border: 2px solid #5fcf80;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
	color:#5fcf80;
}
.discus_img img{
	max-width:100%;
	height:auto;
}
/* discus section end */

/* count section start */
.count_section{
	padding:30px 0px;
	background-color:#f6f7f6d4;
}
.count_items{
	text-align:center;
}
.count_items h1{
	color:#5fcf80;
	font-size:40px;
}
.count_items p{
	font-size:15px;
}

/* count section end  */
/* choose section start */
.choose_section{
	width:auto;
	height:auto;
	padding:40px 0px;
}
.choose_icon_1:after{
	content:"\f518";
	font-family:fontawesome;
}
.choose_icon_2:after{
	content:"\f5be";
	font-family:fontawesome;
}
.choose_icon_3:after{
	content:"\f03e";
	font-family:fontawesome;
}
.choose_left{
	background-color: #5fcf80;
    color: white;
	padding:27px;
	display: flex;
    flex-direction: column;
    gap: 20px;
	border-radius:4px;
	
}
.choose_left h1{
	font-family: 'Raleway', sans-serif !important;
	font-size:30px;
}
.choose_left p{
	font-size: 14px;
    word-spacing: 5px;
}
.choose_left a{
	font-size: 15px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 20px;
    padding: 5px 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
	color:white;
	background-color:#9cd7ad;
	border:none;
}
.choose_left a:hover{
	background-color:white;
	color:#5fcf80;
}
.choose_item{
	border:2px solid #eef0ef;
	width:auto;
	height:300px;
	padding:30px;
	text-align: center;
	display: flex;
    flex-direction: column;
    gap: 25px;
}
.choose_item h3{
	font-size:16px;
}
.choose_item p{
	font-size:12px;
}
.choose_right{
	height:100%;
	display:flex;
	align-items:center;
}
.choose_icon_1{
	width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
	display: block;
    margin: 0 auto;
	background-color:#ecf9f0;
	color:#5fcf80;
	border:none;
}
.choose_icon_2{
	width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
	display: block;
    margin: 0 auto;
	background-color:#ecf9f0;
	color:#5fcf80;
	border:none;
}
.choose_icon_3{
	width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
	display: block;
    margin: 0 auto;
	background-color:#ecf9f0;
	color:#5fcf80;
	border:none;
}

/* choose section end */
/* company section start */
.company_section{
	width:auto;
	padding:40px 0px;
}
.company_item{
	width:auto;
	height:70px;
	padding:20px;
	border:2px solid #eef0ef;
	display:flex;
	align-items:center;
	gap:10px;
}
.company_item p{
	font-size:15px;
}
.company_item:hover{
	border:2px solid #5fcf80;
}
.company_item a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}
.company_item a:hover{
	color:#5fcf80;
}
.boxes{
	row-gap:30px;
}
.company_icon_1:after{
	content:"\f2de";
	font-family:fontawesome;
	font-size:30px;
	color:#ffbe34;
}
.company_icon_2:after{
	content:"\f012";
	font-family:fontawesome;
	font-size:30px;
	color:#6585ff;
}
.company_icon_3:after{
	content:"\f012";
	font-family:fontawesome;
	font-size:30px;
	color:#e80368;
}
.company_icon_4:after{
	content:"\f328";
	font-family:fontawesome;
	font-size:30px;
	color:#e362ff;
}
.company_icon_5:after{
	content:"\f02d";
	font-family:fontawesome;
	font-size:30px;
	color:#55b4ff;
}
.company_icon_6:after{
	content:"\f1ce";
	font-family:fontawesome;
	font-size:30px;
	color:#ffa76e;
}
.company_icon_7:after{
	content:"\f57d";
	font-family:fontawesome;
	font-size:30px;
	color:#11dbcf;
}
.company_icon_8:after{
	content:"\f71e";
	font-family:fontawesome;
	font-size:30px;
	color:#6c60ff;
}
.company_icon_9:after{
	content:"\f13d";
	font-family:fontawesome;
	font-size:30px;
	color:#b2904f;
}
.company_icon_10:after{
	content:"\f001";
	font-family:fontawesome;
	font-size:30px;
	color:#b20969;
}
.company_icon_11:after{
	content:"\f1eb";
	font-family:fontawesome;
	font-size:30px;
	color:#ff5828;
}
.company_icon_12:after{
	content:"\f577";
	font-family:fontawesome;
	font-size:30px;
	color:#29cc61;
}
/* company section end */

/* course section start */
.course_section{
	width:auto;
	padding:20px 0px;
}
.course_head{
	width:auto;
	height:100px;
}
.course_head_line{
	border-top:1px solid #5fcf80;
	width:100px;
	height:1px;
	display:flex;
}
.course_head_first{
	display: flex;
    align-items: center;
    gap: 10px;
}
.course_head_ten{
	font-size: 13px;
    letter-spacing: 3px;
    color: #aaaab8;
}
.course_head h1{
	font-size:36px;
}
.course_item{
	width:auto;
	height:500px;
	border:1px solid #eef0ef;
}
.course_item img{
	max-width:100%;
}
.course_content p{
	color: white;
    background-color: #5fcf80;
    width: 131px;
    font-size: 12px;
    text-align: center;
    padding: 8px;
}
.course_content h2{
	font-size:16px;
}
.course_content{
	display:flex;
	justify-content:space-between;
}
.course_card h2{
	font-size:17px;
}
.course_card h2 a{
	text-decoration:none;
	color:black;
	font-family: 'Raleway', sans-serif !important;
}
.course_card h2 a:hover{
	color:#5fcf80;
}
.course_card{
	padding:20px;
	gap: 10px;
    display: flex;
    flex-direction: column;
}
.course_card p{
	font-size:11px;
}
.course_btm_logo span{
	display: flex;
    align-items: center;
	gap:10px;
}
.btm_hr{
	width:30%;
}
hr{
	width:90%;
	margin:0 auto;
}
.course_btm_logo img{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}
.course_btm_rht_1 span:after{
	content:"\f007";
	font-family:fontawesome;
}
.course_btm_rht_2 span:after{
	content:"\f004";
	font-family:fontawesome;
}
.course_btm{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:27px 20px;
}
.course_btm_icon{
	display:flex;
	gap:15px;
	color:#7e8f84;
}
.course_btm_rht_1{
	display:flex;
	align-items:center;
	gap:5px;
}
.course_btm_rht_2{
	display:flex;
	align-items:center;
	gap:5px;
}
/* course section end */

/* employee section start */
.employee_section{
	width:auto;
	padding:80px 0px;
}
.employee_item{
	width:auto;
	height:auto;
	border:1px solid #eef0ef;
}
.employee_img img{
	max-width:100%;
}
.emp_icon_1:after{
	content:"\f099";
	font-family:fontawesome;
}
.emp_icon_2:after{
	content:"\f09a";
	font-family:fontawesome;
}
.emp_icon_3:after{
	content:"\f16d";
	font-family:fontawesome;
}
.emp_icon_4:after{
	content:"\f08c";
	font-family:fontawesome;
}
.employee_content{
	text-align:center;
	padding:21px;
}
.employee_content h6{
	color:#808080;
}
.employee_content p{
	color:#aaa;
	font-size:10px;
  	padding:10px 0px;
}
.employee_icons{
	font-size:18px;
	
}
.employee_icons a{
	text-decoration:none;
	color:#7e9486;
}
.employee_icons a:hover{
	color:#5fcf80;
}
/* employee section end */


/* details section start */
.detaile_item_4 h4{
	font-size:15px;
}
.detaile_item_4  p{
	font-size:13px;
}

.detaile_item_4 a{
	font-size: 12px;
    text-decoration: none;
}
.hov_clr_gr:hover{
	color:#5fcf80!important;
}
.detaile_last{
	display:flex;
	flex-direction:column;
	gap:20px;
}

.detaile_last a{
	position: absolute;
    margin-top: 104px;
    background-color: #5fcf80;
    color: white;
    height: 38px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 259px;
	
}
.detaile_last a:hover{
	background-color:#5fcf80b8;
}
.detaile_item_4 ul li{
	display:flex;
	gap:10px;
}
.detaile_input{
	position:relative;
    border-right: none;
    width: 90%;
	border:1px solid #e0e5e2;
	width:90%;
	border-radius:20px;
}
.detaile_link{
	position:absolute;
	margin-top:-60px;
}
.detaile_item_4 ul{
	list-style-type: none;
    list-style-position: inside;
    padding-left: 8px;
	line-height:30px;
}
.detaile_item_4{
	display:flex;
	flex-direction:column;
	gap:20px;
}
.detaile_left_1 h3{
	font-family: 'Rajdhani', sans-serif;
	font-size:25px;
}
.detaile_left_2{
	font-size:13px;
}
.detaile_left_3{
	font-size:13px;
}
.detaile_item_1{
	display: flex;
    flex-direction: column;
    gap: 20px;
}
.detaile_section{
	background-color:#f9faf9;
	padding:40px;
}
/* details section end */

/* contact section start */
.contact_section{
	width: auto;
    padding: 20px 0px;
    background-color: #eef0ef;
    position: relative;
    z-index: 1;
}
.contact_item{
	width:auto;
	height:100px;
}
.contact_item_left{
	font-size:13px;
}
.contact_icon_1:after{
	content:"\f099";
	font-family:fontawesome;
}
.contact_icon_2:after{
	content:"\f39e";
	font-family:fontawesome;
}
.contact_icon_3:after{
	content:"\f16d";
	font-family:fontawesome;
}
.contact_icon_4:after{
	content:"\f17e";
	font-family:fontawesome;
}
.contact_icon_5:after{
	content:"\f0e1";
	font-family:fontawesome;
}
.contact_icon{
	width: 30px;
    height: 30px;
    background-color:#5fcf80;
    color: white;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}
.contact_item_rht{
	display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.boot{
	color:#5fcf80;
}
.cnt_icon_btm:after{
	content:"\f062";
	font-family:fontawesome;
}
.cnt_icon_btm{
	background-color: #5fcf80;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: white;
    z-index: 2;
    
    margin-left: 600px;
    margin-top: -20px;
	
}




/* contact section end */





















